.cv-name {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
}

.cv-heading {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
}

.cv-heading1 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
}

.cv-text {
    -fx-font-size: 17px;
    -fx-text-fill: WHITE;
}

.cv-text1 {
    -fx-font-size: 17px;
    -fx-text-fill: BLACK;
}

ScrollPane {
    -fx-background: transparent;
    -fx-padding: 10;
}

#leftColumn{
    -fx-background-color: #2F364E;
}

#rightColumn{
    -fx-background-color: WHITE;
}

#backHomeButton{
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 8px 25px 8px 25px;
    -fx-text-fill: BLACK;
    -fx-background-color: RED;
}

.cv-title{
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
}

