.scroll-pane {
    -fx-background: #cccccc;
    -fx-padding: 20;
}

.root-stackpane {
    -fx-alignment: top-center;
}

.main-hbox {
    -fx-background-color: white;
    /*-fx-padding: 0;*/
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0, 0, 0);
    -fx-max-width: 900;
}

.left-vbox {
    -fx-background-color: #2f3542;
    -fx-padding: 30;
    -fx-pref-width: 300;
}

.profile-image {
    -fx-border-radius: 150;
    -fx-background-radius: 150;
}

.section-title {
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.section-label {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.right-vbox {
    -fx-padding: 40;
    -fx-background-color: white;
    -fx-pref-width: 600;
    -fx-spacing: 25;
}

.full-name {
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.job-title {
    -fx-font-size: 22;
    -fx-text-fill: #555;
}

.section-header {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.section-content {
    -fx-font-size: 18;
}

#backHomeButton{
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 8px 25px 8px 25px;
    -fx-text-fill: BLACK;
    -fx-background-color: RED;
}
.button-box{
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 8px 25px 8px 25px;
    -fx-text-fill: BLACK;
    -fx-background-color: RED;
}